<section id="login">
    <aside>
      <div class="logo">
        <img src="assets/logo.svg" />
        <span>Monitor</span>
      </div>
      <div class="icon">
        <label>Previous session</label>
        <select (change)="previousSessionLoad($event, connectionSelected)" [(ngModel)]="connectionSelected">
          <option selected>Select an option</option>
          <option *ngFor="let connection of connections; let idx = index" [value]="idx">
            {{connection.server}}:{{connection.port}}
          </option>
        </select>
        <fa-icon [icon]="icons.faTimes" class="deleteSrv" (click)="removeSrv()"></fa-icon>
      </div>
      <div class="icon">
        <label>Server IP</label>
        <input type="text" placeholder="server ip" [(ngModel)]="serverIP" (keypress)="kpConn($event)"/>
        <fa-icon [icon]="icons.faCompressAlt"></fa-icon>
      </div>
      <div class="icon">
        <label>RCON Port</label>
        <input type="number" placeholder="RCON port" [(ngModel)]="rconPort" (keypress)="kpConn($event)"/>
        <fa-icon [icon]="icons.faCog"></fa-icon>
      </div>
      <div class="icon">
        <label>RCON Password</label>
        <input type="password" placeholder="RCON passwd" [(ngModel)]="rconPasswd" (keypress)="kpConn($event)"/>
        <fa-icon [icon]="icons.faKey"></fa-icon>
      </div>
      <button (click)="connect()" [class.loading]="loginLoading">Connect</button>
    </aside>
    <a href="https://www.damirscorner.com/blog/posts/20210528-AllowingInsecureWebsocketConnections.html" class="footLink" target="_blank">How to connect from HTTPS website</a>
  </section>
