<p-table #dt [value]="playerList" [columns]="playerCols"  [paginator]="true" [rows]="15"  [resizableColumns]="true"  [(contextMenuSelection)]="selectedPlayer" [contextMenu]="cm">
  <ng-template pTemplate="caption">
    <div style="vertical-align: middle;float: left;">
      Online <p-inputSwitch [(ngModel)]="onlyOnline" (onChange)="changeOnlineFilter($event)"></p-inputSwitch>
    </div>
    <div style="display: inline-block;text-align: right">
      <input type="text" pInputText size="50" placeholder="Search Players" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
        <th *ngFor="let col of playerCols"  [pSortableColumn]="col.field" [style.width]="col.width" pResizableColumn> <!-- -->
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player let-columns="columns">
      <tr [class.offline]="!player.online">
          <td *ngFor="let col of columns" [pContextMenuRow]="player">
            <span class="time" *ngIf="col.field == 'ConnectedSeconds' && player.online">{{player.ConnectedSeconds | uptimeFixed}}</span>
            <span class="hp" *ngIf="col.field == 'Health'" [class.greenText]="player.Health > 50" [class.yellowText]="player.Health <= 50 && player.Health >= 20" [class.redText]="player.Health < 20">
              {{player.Health | number:'1.0-0'}}
            </span>
            <span class="ip" *ngIf="col.field == 'Address'">
              {{player.Address | portRemove}}
            </span>
            <span class="ping" *ngIf="col.field == 'Ping' && player.online" [class.greenText]="player.Ping < 75" [class.yellowText]="player.Ping <= 170 && player.Ping >= 75" [class.redText]="player.Ping > 170">
              {{player.Ping}}
            </span>
            <span class="username" *ngIf="col.field == 'DisplayName'" style="color:#55aaff">
              {{player.vac?.VACBanned}}
              <img *ngIf="player.country && player.country != 'N/D'" [src]="'https://flagpedia.net/data/flags/w580/' + player.country + '.png'" style="width: 20px;" [title]="player.country" />
              {{player.DisplayName}}
            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="ctxMenu"></p-contextMenu>
<p-toast position="top-right"></p-toast>
<p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>