<p-table #dt [value]="playerList" [columns]="playerCols"  [paginator]="true" [rows]="15"  [resizableColumns]="true"  [(contextMenuSelection)]="selectedPlayer" [contextMenu]="cm">
  <ng-template pTemplate="caption">
    <div style="vertical-align: middle;float: left;">
      Online <p-inputSwitch [(ngModel)]="onlyOnline" (onChange)="changeOnlineFilter($event)"></p-inputSwitch>
    </div>
    <div style="display: inline-block;text-align: right">
      <input type="text" pInputText size="50" placeholder="Search Players" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
        <th *ngFor="let col of playerCols"  [pSortableColumn]="col.field" [style.width]="col.width" pResizableColumn> <!-- -->
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player let-columns="columns">
      <tr [class.offline]="!player.online">
          <td *ngFor="let col of columns" [pContextMenuRow]="player">
            <span class="time" *ngIf="col.field == 'ConnectedSeconds' && player.online">{{player.ConnectedSeconds | uptimeFixed}}</span>
            <span class="hp" *ngIf="col.field == 'Health'" [class.greenText]="player.Health > 50" [class.yellowText]="player.Health <= 50 && player.Health >= 20" [class.redText]="player.Health < 20">
              {{player.Health | number:'1.0-0'}}
            </span>
            <span class="ip" *ngIf="col.field == 'Address'">
              {{player.Address | portRemove}}
            </span>
            <span class="ping" *ngIf="col.field == 'Ping' && player.online" [class.greenText]="player.Ping < 75" [class.yellowText]="player.Ping <= 170 && player.Ping >= 75" [class.redText]="player.Ping > 170">
              {{player.Ping}}
            </span>
            <span class="username" *ngIf="col.field == 'DisplayName'" style="color:#55aaff">
              <img *ngIf="player.country && player.country != 'N/D'" [src]="'https://flagpedia.net/data/flags/w580/' + player.country + '.png'" style="width: 20px;" [title]="player.country" />
              {{player.DisplayName}}
              <svg *ngIf="player.vac?.VACBanned" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-triangle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="vacIcon"><path fill="currentColor" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z" class=""></path></svg>
            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="ctxMenu"></p-contextMenu>
<p-toast position="top-right"></p-toast>
<p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>