<div class="container">
    <article>
        <header>
            Player Tools
            <svg (click)="close.emit()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
        </header>
        <nav>
            <div [class.active]="tab==0" (click)="tab=0">
                Auto-Kick
            </div>
            <div [class.active]="tab==1" (click)="tab=1">
                Allowed players
            </div>
            <div [class.active]="tab==2" (click)="tab=2">
                Auto-respond
            </div>
        </nav>
        <section [hidden]="tab!=0">
            <div>
                <label>Max ping allowed</label>
                <input type="number" placeholder="500 or 0 for no limits" [(ngModel)]="maxPingAllowed"/>
            </div>
            <div>
                <label>Message (%ping = quantity of ping)</label>
                <input type="text" placeholder="you have too much ping (%ping), try reconnect later" [(ngModel)]="message"/>
            </div>
        </section>
        <section [hidden]="tab!=1">
            <h3>Coming soon!</h3>
            <p>
                kick players with private profile <br />
                kick players with vac bans <br />
            </p>
        </section>
        <section [hidden]="tab!=2">
            <h3>Coming soon!</h3>
            <p>
                Auto respond wipe <br />
                Auto respond !pop <br />
            </p>
        </section>
        <footer>
          <button (click)="save()">Apply</button>
        </footer>
    </article>
</div>
